h1 {
  background-color: rgb(105, 105, 195);
  text-align: center;
  color: azure;
  font-size: 20px;
}

.fundoVermelhoNegrito {
  background-color: rgb(105, 105, 195, 0.3);
  text-align: center;
}

#textoPricipal {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  background-color: black;
  margin-bottom: 50px;
}
